.page_header {
  padding-bottom: 10px;
}

.page_header {
  padding-bottom: 10px;
}

.search-placeholder {
  color: #666;
  border: 1px #999 solid;
  padding: 5px;
  width: 125px;
}

.logged {
  padding-right: 190px;
  color: #FFF;
}

.video-text {
  font-size: 12px;
  margin-top: 2px;
}

.title-text {
  font-size: 14px;
  display: block;
  font-weight: bold;
}

.page_header {
  padding-bottom: 10px;
}

.logged {
  padding-right: 190px;
  color: #FFF;
  margin-right: 24px;
}

.logged-white {
  color: #CCC;
}

.fa-2x {
  margin: 3px;
}

.top {
  background: url(https://d3e9hat72fmrwm.cloudfront.net/images/global/tail-top.jpg) repeat-x;
  height: 80px;
}

div {
  display: block;
}

.page-header-dop {
  margin-top: 23px;
  margin-right: -18px;
}

.home-search {
  color: #666;
  border: 1px #999 solid;
  padding: 5px;
  width: 125px;
  margin-left: 9px;
}

.text-search {
  margin-right: 35px;
}

.video-description {
  font-size: 12px;
}

.content-video {
  margin-top: 22px;
  width: 100%;
  border: 0;
}

.links {
  color: #F00;
  text-decoration: underline;
}

.image-style {
  background-color: #000;
}

.fieldset-content {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #b52222;
  font-size: larger;
}

.signup-form {
  background-color: #F0F0F0;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.video-window {
  width: 310px;
}

/*# sourceMappingURL=style.css.map */
