.page_header {
  padding-bottom: 10px;
}

.drill_margin {
  margin-top: 12px !important;
  margin-bottom: 10px !important;
}

.center {
  text-align: center;
}

.color_attack {
  color: #f6931e !important;
  font-weight: bold;
}

.package_info {
  width: 100%;
  padding: 10px;
  border: 1px solid #727272;
  margin-bottom: 10px;

  div {
    width: 695px;
    font-size: 12px !important;
  }
  span {
    font-size: 12px !important;

  }
  p {
    margin-top: 20px;
    font-size: 12px !important;

  }
  a {
    text-decoration: underline;
  }
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.top {
  background: url(https://d3e9hat72fmrwm.cloudfront.net/images/global/tail-top.jpg) repeat-x;
  height: 80px;
}

div {
  display: block;
}

.page-header-dop {
  margin-top: 23px;
  margin-right: -18px;
}

.home-search {
  color: #666;
  border: 1px #999 solid;
  padding: 5px;
  width: 130px;
  margin-left: 9px;
  font-size: 14px;

}

.text-search {
  margin-right: 35px;
}

.video-description {
  font-size: 12px;
}

.content-video {
  margin-top: 22px;
  width: 100%;
  border: 0;
}

.image-style {
  background-color: #000;
  height: 556px;
}

.fieldset-content {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  font-size: 14px;
  color: #b52222;
  width: 156px;
}

.signup-form {
  background-color: #F0F0F0;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.video-window {
  width: 310px;
}

.video-text {
  font-size: 12px;
  margin-top: 2px;
}

.title-text {
  font-size: 14px;
  display: block;
  font-weight: bold;
}

.logged {
  padding-right: 190px;
  color: #FFF;
  margin-right: 24px;
}

.logged-white {
  color: white;
  text-decoration: underline;
  &:hover {
    color: #CCC;
  }
  &:active {
    color: #CCC;

  }
  &:visited {
    color: #CCC;

  }
}

.links {
  color: #F00;
  text-decoration: underline;
}

.page-description {
  width: 1000px !important;
}

.page_content {
  width: 1000px !important;
  background-color: #FFF;
  padding: 4px 20px 20px;
  margin: 0 auto;
  td, tr {
    margin: 2px;
    padding: 2px;
  }
  p, td {
    font-size: 12px;
  }
  h4 {
    font-weight: bold;
    font-size: 13px;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.login_drills {
  font-size: 0.8em;
}

.header_a {
  text-decoration: none;
  color: #FFF;
  font-weight: normal;
}

.table_drills {
  p {
    margin: 5px;
    font-size: 13px;
  }
  ul {
    margin: 5px;
    font-size: 12px;
  }
  a {
    font-size: 12px;
    text-decoration: underline;
  }
}

.drills_ul {
  div {
    margin-bottom: 5px;
  }
}

.drills_faq {
  background-color: #727272;
  color: #FFF;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.thinkstrong_subheader {
  background-color: #1976D2;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-left: 10px;
}

.drill_info {
  padding: 10px;
  border: 1px solid #727272;
  background-color: #F5F5F5;
}

.twitter_button, .twitter_button:link, .twitter_button:active, .twitter_button:visited {
  background-color: #4CAF50;
  color: #FFF;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.twitter_button, .twitter_button:active, .twitter_button:link, .twitter_button:visited {
  background-color: #4CAF50;
  color: #FFF;
  padding: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.text-primary-color {
  color: #FFFFFF;
}

.chapters_scroll {
  font-size: smaller;
  float: right;
  width: 240px;
  font-style: italic;
}

.drill_div {
  font-size: 12px;
}

.underline {
  text-decoration: underline;
}

.iframe {
  height: 480px;
  width: 853px;
}

.legend {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: larger;

}

.legend_upp {
  background: #0b2442;
  color: #fff;
  font: 21px Calibri, Arial, Helvetica, sans-serif;
  padding: 0 10px;
  margin: -26px 0 0 -11px;
  font-weight: 700;
  border: 1px solid #fff;
  border-color: #e5e5c3 #505014 #505014 #e5e5c3;
  width: 35%;
}

.legend_down {
  background: #0b2442;
  color: #fff;
  font: 21px Calibri, Arial, Helvetica, sans-serif;
  padding: 0 10px;
  margin: -26px 0 0 -11px;
  font-weight: 700;
  border: 1px solid #fff;
  border-color: #e5e5c3 #505014 #505014 #e5e5c3;
  width: 29%;
}

.one {
  width: 17% !important;
}

.two {
  width: 28% !important;

}

.three {
  width: 26% !important;
}

.forgot {
  margin-left: 139px;
}

.cool {
  z-index: 1070;
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.6;
  // text-align: left;
  // text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
}

.hsfooteer {
  margin-top: -16;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 1000px;
  min-height: 200px;
  background: linear-gradient(rgb(99, 99, 99) 0px, rgb(0, 0, 0) 100%);
  border-top: 3px solid rgb(0, 0, 0);
}

.footer-text {
  margin-left: -20px;
  margin-top: 15px;
}

.headlink_controller {
  color: rgb(0, 0, 0);
  float: right;
  width: 450px;
  margin-top: 30px;
  text-align: right;
  font: 12px "Trebuchet MS";
}

.center, .tcenter {
  text-align: center;
}

.button-type {
  text-decoration: none !important;
}

.input-text-size {
  font-size: 13px;
}

.margin {
  margin: 5px;
  width: 235px;
  height: 235px;
}

.drill_image {
  height: 300px;
  width: 232px;
  margin-top: 12px;
}

.margin_image {
  margin-top: -16px;
}

.image-size {
  height: 500px;
  width: 1000px;
}

.cool {
  width: 875px;
  height: 250px;
}

.logo_img {
  height: 65px;
  width: 211px;
}

.divide_me {
  border-top: 1px #F0F0F0 solid;
  height: 5px;
  margin-top: 12px;
}

.register_padding {
  padding-left: 150px;
}

.puks_a {
  vertical-align: middle;
  border: 0
}

.puks_td {
  background-color: #CCC;
  color: #000;
}

.puks_td_one {
  background-color: #F66;
  color: #FFF;
}

.wp-caption {
  background-color: #f2f2f2;
  padding: 5px;
  border: 1px solid #CCC;
}

#attachment_335 {
  margin: 20px;
}

.puks_table {
  border: 1px #CCC solid;
}

.available_reg {
  color: #388E3C;
  font-weight: bold;
}

.notavailable_reg {
  color: #b52222;
  font-weight: bold;

}

.mydrills_category_title {
  background-color: #0d3960;
  color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  font-variant: small-caps;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.hs_drill {
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #B6B6B6;
  padding: 15px 10px 15px 10px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 14px;
}

thead {
  color: #c0392b;
}

.email {
  background-color: #ecf0f1;
}

.email_td {
  border-top: 2px solid #34495e;
  border-bottom: 1px solid #34495e;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email_bold {
  font-weight: bold;
  font-size: larger;
}

.email_subtle {
  font-size: smaller;
  color: #34495e;
}

.free {
  text-decoration: underline;
}

.lable {
  padding-left: 150px;
}

.drill_table_one {
  width: 100%;
  cellspacing: 8;
  cellpadding: 8;
}

.string_table {
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #F0F0F0;
  border: 1px #666 solid;
  padding: 10px;
}

.filter_drills {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.filterSave {
  display: none;
  background-color: #FFF;
  border: 1px #666 solid;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.drill_table_two {
  width: 100%;
  cellspacing: 0;
  cellpadding: 3;

  div {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000;
    font-weight: bold;
    color: #FFF;
    padding: 10px;
    font-size: 17px;
    border: 2px solid #034569;
    cursor: pointer;
    margin: 1px;
  }
}

.package_info {
  div {
    font-size: 12px !important;
  }
  span {
    font-size: 12px !important;
  }
  p {
    font-size: 12px !important;
  }
}

.resize {
  font-size: 12px !important;
}

.resize-th {
  th {
    font-size: 12px !important;
  }
}

.twitter_button, .twitter_button:active, .twitter_button:link, .twitter_button:visited {
  background-color: #4CAF50;
  color: #FFF;
  padding: 7px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.watch {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center
}

.img_learn {
  width: 970px;
  height: 337px;
}

.flash_fontainer_drill {
  width: 100%;
  height: 56%
}

.compare_premium {
  padding: 0px 305px 5px 305px;
  margin-left: 13px;
  background-color: #e67979;
  padding: 5px;
  border: 3px solid #000;
  vertical-align: top;
  font-weight: bold;
}

.drill_author {
  font-family: 'Roboto', sans-serif;
  color: #727272;
}

.compare_premium {
  margin-left: 13px;
  background-color: #e67979;
  padding: 5px;
  border: 3px solid #000;
  font-weight: 700;
}

.compare_free {
  border-radius: 5px;
  background-color: #f1b2b2;
  padding: 5px;
  vertical-align: top;
}

.compare_free, .compare_premium {
  float: left;
  position: relative;
  padding: 5px;
  border-radius: 5px;
}

.compare_free {
  border-radius: 5px;
  background-color: #f1b2b2;
  padding: 5px;
}

.compare_assn {
  float: right;
  vertical-align: top;
  border-radius: 5px;
  background-color: #db4040;
  padding: 5px;
  color: #FFF;
}

.compare_assn {
  float: right;
  border-radius: 5px;
  background-color: #db4040;
  padding: 5px;
  color: #FFF;
}

.compare_foot {
  text-align: center;
  margin: auto;
  vertical-align: bottom;
}

.compare_signup1, .compare_signup2 {
  float: left;
  position: relative;
  padding: 5px;
  background-color: #FFF;
  text-align: center;
  width: 300px;
}

.compare_signup1, .compare_signup2 {
  float: left;
  position: relative;
  width: 300px;
}

.compare_signup3 {
  float: right;
  background-color: #FFF;
  text-align: center;
  width: 300px;
  padding: 5px;
}

img {
  border: none;
}

.redeem {
  display: block;
  font-size: 14px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.redeem_table {
  width: 100%;
  border: 0;
  cellpadding: 3;
  cellspacing: 3;
}

.tcenter {
  text-align: center;
}

.title_text {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
}

.frame_stat {
  width: 640px;
  height: 400px;
  frameborder: 0;
}

.number-box {
  float: left;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 5em;
  color: #ccc;
  width: 20px;
}

.content-box {
  padding: 10px;
}

.comment-box {
  padding: 20px;
  border: 1px solid black;
}

.content-box {
  p {
    margin: 11px 0 11px;
  }
}

.tournament_heading {
  border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 15px;
  font-size: 1.2em;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  border: 1px solid #CCC;
  margin: 5px;
}

.rpbutton {
  background: #a00;
  color: #fff !important;
  text-decoration: none !important;
}

.compare_head {
  font-size: 1.4em;
  font-weight: bold;
}

.compare_assn, .compare_free, .compare_premium {
  vertical-align: top;
  min-height: 520px !important;
  width: 311px;
}

.tournaments-table {
  td, th {
    display: table-cell;
    vertical-align: inherit;
    height: 22px;
  }
  td, tr {
    margin: 2px;
    padding: 2px;
  }
  td, th {
    display: table-cell;
    vertical-align: inherit;
    height: 22px;
  }
  font-size: 12px;
  button, input, optgroup, select, textarea, label {
    font-weight: normal;
  }
}

.margin_tournaments {
  margin: 5px;
}

.tournaments_div {
  border: 1px #666666 solid;
  padding: 10px;
}

.center_10k {
  text-align: center;
  clear: both;
}

.nav_10k {
  padding: 10px;
  text-align: center;
  background-color: #000000;
  background-image: -webkit-linear-gradient(to bottom, rgb(0, 0, 0), rgb(81, 81, 81));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(81, 81, 81)));
  background-image: -webkit-linear-gradient(to bottom, rgb(0, 0, 0), rgb(81, 81, 81));
  background-image: -moz-linear-gradient(to bottom, rgb(0, 0, 0), rgb(81, 81, 81));
  background-image: -o-linear-gradient(to bottom, rgb(0, 0, 0), rgb(81, 81, 81));
  background-image: -ms-linear-gradient(to bottom, rgb(0, 0, 0), rgb(81, 81, 81));
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(81, 81, 81));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#515151');
  margin-left: -20px;
  margin-right: -20px;
}

.nav_link_10k, .nav_link_10k:link, .nav_link_10k:active, .nav_link_10k:visited {
  width: 120px;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  min-height: 15px;
  vertical-align: middle;
}

.nav_divider_10k {
  border-right: 1px #FF5252 solid;
}

.logo_10k_container {
  margin-left: -20px;
  margin-right: -20px;
}

.section2_10k {
  background-color: #607D8B;
  color: #FFF;
  min-height: 175px;
  clear: both;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px;
  border-top: 2px solid #212121;
  border-bottom: 2px solid #212121;
}

.section4_10k {
  color: #FFF;
  background: url(/img/10k_4_bg.jpg) repeat-x;
  background-repeat: no-repeat;
  background-color: #000;
  min-height: 270px;
  clear: both;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px;
  border-bottom: 2px solid #B6B6B6;
}

.topPad10_10k {
  padding-top: 10px;
}

.section4_content {
  width: 400px;
}

.fa-user:before {
  content: "\f007";
}

.fa-5x {
  font-size: 5em;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.plan_folders {
  background-color: #0d3960;
  color: #F5F5F5;
  padding: 15px 10px 15px 10px;
  font-weight: bold;
  font-variant: small-caps;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.darkbutton_10k, .darkbutton_10k:link, .darkbutton_10k:active, .darkbutton_10k:visited {
  border-radius: 12px;
  padding: 10px;
  background-color: #212121;
  border: 1px solid #727272;
  width: 135px;
  font-weight: 400;
  color: #F5F5F5;
  text-align: center;
  display: inline-block;
}

.right_10k {
  text-align: right;
  padding: 10px;
}

.float_right_10k {
  select {
    font-family: 'Roboto', sans-serif;
    font-size: large;
  }
}

.darkbutton_10k, .darkbutton_10k:link, .darkbutton_10k:active, .darkbutton_10k:visited {
  border-radius: 12px;
  padding: 10px;
  background-color: #212121;
  border: 1px solid #727272;
  width: 155px;
  font-weight: 400;
  color: #F5F5F5;
  text-align: center;
  display: inline-block;
}

.lightgray_10k {
  color: #F5F5F5;
}

.headlinks, .headlinks:active, .headlinks:hover, .headlinks:link, .headlinks:visited, a.headlinks {
  font: 11px 'Trebuchet MS';
  color: #CCC;
  text-decoration: none;
  margin-left: 5px;
}

.header_style {
  padding-right: 190px;
  color: #FFF;
  a {
    text-decoration: none;
    color: #FFF;
    font-weight: normal;
  }
}

.medbutton_10k, .medbutton_10k:link, .medbutton_10k:active, .medbutton_10k:visited {
  border-radius: 12px;
  padding: 10px;
  background-color: #616161;
  border: 1px solid #212121;
  width: 155px;
  font-weight: 400;
  color: #F5F5F5;
  text-align: center;
  display: inline-block;
}

.medbutton_10k:hover {
  color: #B6B6B6;
}

.lightbutton_10k:hover {
  color: #616161;
}

.column_10k {
  float: left;
  width: 33%;
}

.highlight_10k {
  color: #D32F2F;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.lightbutton_10k, .lightbutton_10k:link, .lightbutton_10k:active, .lightbutton_10k:visited {
  border-radius: 12px;
  padding: 10px;
  background-color: #F5F5F5;
  border: 1px solid #212121;
  width: 155px;
  font-weight: 400;
  color: #212121;
  text-align: center;
  display: inline-block;
}

img {
  border: none;
}

.compare_features {
  min-height: 330px;
}

.signup_one {
  height: 41px;
  width: 150px;
  margin-left: 2px;
}

.signup_two {
  margin-left: 69px;
  height: 41px;
  width: 150px;
}

.compare_img {
  height: 32px;
  width: 129px;
  border: none;
  padding: 5px;
}

.section1_right_img {
  height: 130px;
  width: 137px;
}

.section1_right {
  float: right;
  padding: 10px;
}

.player_title {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  padding: 10px 0 8px;
  font-weight: 700;
}

.player_page {
  border: 1px #b52222 solid;
  border-radius: 8px;
  background-color: #fefafa;
  padding: 10px;
  height: 250px;
  font-size: 12px;
  h3 {
    font-weight: bold;
    font-size: 14px;
  }
  label {
    font-size: 12px;
  }
  input {
    font-size: 14px;
  }
}

.player_table {
  font-size: 12px;
  border: 1px #184b8d solid;
  border-radius: 8px;
  background-color: #fafcfe;
  padding: 10px;
  height: 250px;
  u {
    font-size: 12px;
  }
  h3 {
    font-weight: bold;
    font-size: 14px;
  }
  label {
    font-size: 12px;
  }
  input {
    font-size: 14px;
  }
}

.und-text {
  font-size: 10px !important;
}

.section1_10k {
  margin-bottom: -62px;

  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 224, 224)), to(rgb(255, 255, 255)));
  background-image: -webkit-linear-gradient(to bottom, rgb(224, 224, 224), rgb(255, 255, 255));
  background-image: -moz-linear-gradient(to bottom, rgb(224, 224, 224), rgb(255, 255, 255));
  background-image: -o-linear-gradient(to bottom, rgb(224, 224, 224), rgb(255, 255, 255));
  background-image: -ms-linear-gradient(to bottom, rgb(224, 224, 224), rgb(255, 255, 255));
  background-image: linear-gradient(to bottom, rgb(224, 224, 224), rgb(255, 255, 255));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#e0e0e0', EndColorStr='#ffffff');
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-top: 1px solid #e0e0e0;
  min-height: 295px;
  clear: both;
  margin-left: -20px;
  margin-right: -20px;
}

.topPad10_10k {
  padding-top: 10px;
}

.left_200_10k {
  float: left;
  width: 200px;
}

.greenbutton_10k, .greenbutton_10k:link, .greenbutton_10k:active, .greenbutton_10k:visited {
  border-radius: 12px;
  padding: 10px;
  background-color: #8BC34A;
  border: 1px solid #727272;
  width: 135px;
  font-weight: 400;
  color: #F5F5F5;
  text-align: center;
  display: inline-block;
}

.team-players {
  input, select {
    margin: 5px;
    padding: 2px;
  }
  div, p, span, td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
}

.greenbutton_10k, .greenbutton_10k:link, .greenbutton_10k:active, .greenbutton_10k:visited {
  border-radius: 12px !important;
  padding: 10px !important;
  background-color: #8BC34A;
  border: 1px solid #727272;
  width: 135px !important;
  font-weight: 400 !important;
  color: #F5F5F5 !important;
  text-align: center !important;
  display: inline-block !important;
}

.blue_10k {
  color: #03A9F4;
}

.section3_10k {
  background-color: #212121;
  color: #FFF;
  min-height: 175px;
  clear: both;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px;
  border-bottom: 2px solid #B6B6B6;
}

.more-video {
  p, strong {
    font-size: 12px;
    margin-top: 10px;
  }
}

.rc-anchor-light.rc-anchor-normal {
  border: 1px solid #d3d3d3;
}

.rc-anchor-light {
  background: #f9f9f9;
  color: #000;
}

.rc-anchor-normal {
  height: 74px;
  width: 300px;
}

.rc-anchor {
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}

.rc-anchor-aria-status {
  left: -10000px;
  height: 1px;
  position: absolute;
  top: -10000px;
  width: 1px;
}

.rc-anchor-error-msg-container {
  color: #ff0000;
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  line-height: 14px;
  margin: 2px 10px 2px 10px;
  position: absolute;
  top: 0;
}

.rc-anchor-light {
  background: #f9f9f9;
  color: #000;
}

.rc-anchor-normal .rc-anchor-content {
  height: 74px;
  width: 206px;
}

.rc-anchor-content {
  display: inline-block;
}

.rc-inline-block {
  display: inline-block;
  height: 100%;
}

.rc-anchor-center-container {
  display: table;
  height: 100%;
}

.rc-anchor-center-item {
  display: table-cell;
  vertical-align: middle;
}

.rc-anchor-normal .rc-anchor-checkbox-label {
  width: 152px;
}

.rc-anchor-normal-footer {
  display: inline-block;
  height: 74px;
  vertical-align: top;
}

.recaptcha-checkbox-checkmark {
  background-image: url(/img/download.png);
  background-repeat: no-repeat;
  border: none;
  height: 30px;
  left: -5px;
  outline: 0;
  position: absolute;
  width: 38px;
}

.recaptcha-checkbox-checked .recaptcha-checkbox-checkmark {
  background-position: 0 -600px;
}

.rc-anchor-logo-portrait {
  margin: 10px 0 0 26px;
  width: 58px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.rc-anchor-logo-img-portrait {
  background-size: 32px;
  height: 32px;
  margin: 0 13px 0 13px;
  width: 32px;
}

.rc-anchor-normal .rc-anchor-pt {
  margin: 4px 13px 0 0;
  padding-right: 2px;
  position: absolute;
  right: 0px;
  text-align: right;
  width: 276px;
}

.links-video {
  text-align: center;
  font-size: 13px;
}

.training-logo {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #000;
  margin-top: 15px;
  .mental {
    color: #B52222;
    font-weight: bold;
  }
  span {
    font-style: italic;
    color: #666;
    font-size: 12px;
  }
}

a:-webkit-any-link {
  color: #034569;
  text-decoration: underline;
  cursor: auto;
}

a:hover {
  color: #000;
}

.title-blog {
  font-size: 24px;
}

.table-blog {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.blog_text {

  td {
    font-size: 12px;
  }
}

.storycontent {
  p {
    font-size: 13px;

  }
  li {
    font-size: 13px;
    display: list-item;
    text-align: -webkit-match-parent;
  }
}

.margin_blog {
  padding: 5px;
  border: 1px #CCC dotted;
  margin: 5px;
}

.sidebar_blog {
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }
  ul ul {
    font-size: 13px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #6c83b0;
  }
  ul {
    margin: 0;
    padding: 15px;
    list-style: none;
  }
}

.widget_title {
  color: #666;
  font-size: 23px !important;
  font-weight: 400;
  line-height: 1;
}

.blog_search {
  font-size: 12px;
}

.form-style-1 {
  margin: 10px;
  max-width: 435px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style-1 .required2 {
  color: red;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 {
  list-style-type: none !important;

  li {
    margin: 10px;
  }
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

optgroup {
  font-weight: bold;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0 !important;
}

.newsletter {
  input, td {
    font-size: 12px;
  }
}

.attackpad {
  p, td, input {
    font-size: 13px;
  }
}

.attackpad-loged {
  background-color: #f6931e;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 10px;
}

.association {
  margin-left: 5px;
}

.game-tape {
  h2 {
    margin-left: 5px !important;
    font-size: 23px;
    padding: 10px 0 8px;
  }
  h1, h2 {
    border-bottom: 1px solid #ccc;
    color: #666;
    font-weight: 400;
    margin: 0 0 .7em;
    line-height: 1;
  }
  h3 {
    font-weight: bold;
    font-size: 14px;
  }
  td, li, select {
    font-size: 12px;

  }
  select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 1px !important;
  }
  keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
  }
  select:not([size]):not([multiple]), select[size="0"], select[size="1"] {
    background-color: buttonface;
  }
}

.attackpad-top {
  background-color: #fef5ea;
  padding: 5px;
}

.gifts {
  padding: 10px;
  border: 1px #666 solid;
  border-radius: 5px;
  background-color: #FFF;
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 3px;
  }
  p {
    margin-left: 3px;
    margin-top: 15px;
    font-size: 12px;
  }
}

.video-systems {
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video-div {
  border: 1px #000 solid;
  background-color: #eee;
  padding: 10px;
}

.learn_div {
  width: 606px;
  height: 352px;
  position: relative;
  user-select: none;
}

.video-text-width {
  width: 350px;
}

.learn_svg {
  top: 0px;
  left: 0px;
  position: static;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.purchase {
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  background-color: #F0F0F0;
  padding: 5px;
  font-weight: bold;
}

.us_tourns {
  display: none;
}

.learn_path {
  stroke: rgb(69, 204, 206);
  stroke-width: 5px;
  stroke-linecap: butt;
}

.tournament_heading {
  cursor: pointer;
}

.canvas_new {
  position: absolute;
  width: 606px;
  height: 352px;
  left: 0px;
  top: 0px;
  user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.canvas {
  position: absolute;
  width: 606px;
  height: 352px;
  left: 0px;
  top: 0px;
  user-select: none;
}

.tournament_listing_2 {
  display: none;
}

.tournament_listing_1 {
  display: none;
}

.gifts_p {
  color: #B52222;
  font-weight: bold;
  font-size: 14px;
}

.game_tape {
  background-color: #F0F0F0;
  border: 1px solid #120d57;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.game_tape_test {
  background-color: #e5f9ba;
  border: 1px solid #2f4914;
  padding: 5px;
  border-radius: 5px;
}

.drills_div {
  display: none;
  margin-bottom: 5px;
}

.blog_td {
  background-color: #F66;
  color: #FFF;
}

.blog_td_one {
  background-color: #CCC;
  color: #000;
}

.blog_table {
  width: 50px;
  border: 1px solid #CCC;
}

.blog_div_one {
  padding: 5px;
  border: 1px #CCC dotted;
}

.thrv_wrapper {
  margin-left: 30px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  padding: 0px !important;

}

.style1 {
  color: #FF0000;
}

.blog_margin {
  margin-left: 20px !important;
  padding-left: 30px !important;
}

.li_blog_two_1 {
  margin-left: 30px !important;
}

.blog_p {
  margin-bottom: 20px !important;
}

.blog_li {
  margin-left: 50px !important;
  margin-bottom: 10px;
}

.hs_fieldset, .hs_fieldset_nw {
  background: #e8f1fb;
  padding: 10px;
  border: 1px solid #fff;
  margin-top: 36px;
  margin-bottom: 36px;
  border-color: #fff #666661 #666661 #fff;
}

.hs_fieldset {
  width: 875px;
}

.hs_legend {
  display: block;
  padding: 0;
  margin-bottom: 22px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.update_div {
  float: left;
  width: 200px;
  padding: 5px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button] {
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-textarea {
  height: 100px;
}

.blog_li_one {
  margin-left: 50px !important;
  margin-bottom: 10px;
}

.blog_ul_style {
  margin-bottom: 0px !important;
}

.li_blog {
  margin-left: 30px !important;
  margin-bottom: 0px !important;
}

.li_blog_one {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}

.li_blog_two {
  margin-left: 30px !important;
}

.li_blog_three {
  margin-bottom: 10px !important;
  margin-left: 30px !important;
}

.li_blog_five {
  margin-left: 30px !important;
}

.li_blog_class {
  margin-left: 50px !important;
}

.comments_thoughts {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  margin-left: 50px !important;
}

.li_blog_six {
  padding-left: 0px;
  margin-left: 0px !important;
}

.drill_store_p {
  margin-left: 10px;
}

.chapters_scroll {
  font-size: smaller;
  float: right;
  width: 240px;
  font-style: italic;
}

.drill_info {
  padding: 10px;
  border: 1px solid #727272;
  background-color: #F5F5F5;
}

.li_blog_seven {
  margin-left: 80px !important;
  margin-bottom: 20px !important;
}

.li_blog_two {
  margin-left: 20px !important;
  padding-left: 30px;
}

.lil {
  padding-left: 0px !important;
  margin-left: 50px !important;
  margin-bottom: 10px;
}

.blog_l {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.lil_blog {
  padding-left: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 10px !important;
}

.p_blog {
  vertical-align: middle;
  border: 0
}

.p_attackpad {
  font-weight: bold;
  background-color: #F0F0F0;
  text-align: center;
}

.p_attackpad_one {
  color: #f6931e;
  font-weight: bold;
}

.blue_input {
  width: 26% !important;
}

.walkthrough_iframe {
  width: 853px;
  height: 480px;
}

.button-walk {
  margin: 14px 0 11px;
}

.add_img {
  margin-bottom: 20px;
  border: 1px #000 solid;
}

.signup_style {
  text-decoration: line-through;
  color: #999;
}

.menu_a {
  color: #F00;
}

.learn_more {
  stroke: rgba(155, 168, 169, 0.298039);
  stroke-width: 5px;
}

.learn_more_div {
  width: auto;
  position: relative;
  padding-bottom: 0px;
}

.learn_more_span {
  color: #333;
}

.tournaments_style {
  float: left;
  padding-right: 10px;
}

.members_div {
  color: #F00;
  font-weight: bold;
  text-decoration: underline;
}

.acp_assn_style {
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  background-color: #F0F0F0;
  padding: 5px;
}

.hs_legend_account {
  width: 41%;
  display: block;
  margin-bottom: 22px;
  font-size: 21px;
  background: #0b2442;
  color: #fff;
  font: 21px Calibri, Arial, Helvetica, sans-serif;
  padding: 0 10px;
  margin: -26px 0 0 -11px;
  font-weight: 700;
  border: 1px solid #fff;
  border-color: #e5e5c3 #505014 #505014 #e5e5c3;

}

.acp_span_new {
  width: 165px;
  display: inline-block;
}

.addteam_p {
  background: #FFFF99;
  border: 1px #999999 dashed;
  padding: 5px;
}

.edit_span {
  font-weight: bold;
  font-size: smaller;
  color: #B52222;
  padding-left: 10px;
}

.edit_td_new {
  border-bottom: 1px #666 solid;
}

.edit_p_new {
  background-color: #ebf6cb;
  font-weight: bold;
}

.freetrial_table {
  border: 1px #090 solid;
  border-radius: 5px;
}

.drill_td_new {
  display: none;

  margin-left: 20px !important;
  padding-left: 30px;
}

.tournaments_left {
  float: left;
}

.full_td_2 {
  padding: 5px;
  color: #FFF;
  background-color: #004383;
  font-weight: bold;
}

.full_td_3 {
  padding: 5px;
  color: #FFF;
  background-color: #000;
  font-weight: bold;
}

.drill_filter {
  display: none;
  background-color: #FFF;
  border: 1px #666 solid;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.different_p {
  background-color: #F0F0F0;
  color: #006;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666;
}

.drill_div_new {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.drill_input {
  display: none;
  margin-left: 10px;
  color: #F00;
  font-style: italic;
  background-color: #FF0;
}

.different_span {
  color: #B52222;
  font-weight: bold;
  text-align: right;
}

.drills_div_new {
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #F0F0F0;
  border: 1px #666 solid;
  padding: 10px;
}

.assn_td {
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  background-color: #F0F0F0;
  padding: 5px;
  font-weight: bold;
}

.assn_td_one {
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  background-color: #F0F0F0;
  padding: 5px !important;

}

.sign_up {
  padding: 5px;
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  font-weight: bold;
  color: #900;
  background-color: #F0F0F0;
  margin-top: 10px;
}

.contact_us_div {
  width: 304px;
  height: 78px;
}

.ccontact_us_textarea {
  width: 250px;
  height: 40px;
  border: 1px solid #c1c1c1;
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}

.assn_span {
  width: 165px;
  display: inline-block;
}

.assn_td_new {
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  background-color: #FFC;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}

.freetrial_div {
  border-top: 1px #eee solid;
}

.teams_div {
  padding: 10px;
  text-align: left;
  border: 1px solid #CCC;
  background-color: #F0F0F0;
  border-radius: 3px;
}

.teams_div_new {
  padding: 10px;
  text-align: right;
  border: 1px solid #CCC;
  background-color: #F0F0F0;
  border-radius: 3px;
}

.my_drills_table {
  width: 100%;
  padding: 3px;
}

.my_drills_td {
  vertical-align: top;
  width: 665px;
}

.edit_td {
  width: 250px;
  font-weight: bold;
  font-size: 16px;
}

.addteam_div {
  display: none;
  border: 1px solid #F00;
  padding: 5px;
  width: 300px;
}

.acp_span {
  font-weight: bold;
  color: #B52222;
}

.diagrammer_help {
  width: 640px;
  height: 360px;
}

.acp_td {
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  background-color: #F0F0F0;
  padding: 5px;
  font-weight: bold;
}

.attackpad_h3 {
  padding: 5px;
  background-color: #F0F0F0;
  border-bottom: 1px solid #b52222;
}

.error {
  padding: 15px 10px 15px 50px;
  background-color: #FFBABA;
  font-weight: 700;
  color: #D8000C;
  border: 1px solid;
  -moz-border-radius: 5px;
  margin: 5px 0 0 5px;
}

.full_td {
  padding: 5px;
  color: #FFF;
  background-color: #000;
  font-weight: bold;
}

.drills_compare_top {
  background-color: #d8ecff;
}

.drills_compare_top, .drills_subheader {
  border-top: 1px #CCC solid;
  padding: 5px;
}

.drills_compare_feature, .drills_compare_prem, .drills_compare_std {
  border-left: 1px #CCC solid;
}

.odd {
  background-color: #F0F0F0;
}

.even {
  background-color: #fff;
}

.selected {
  font-weight: 700;
  background-color: #FF9;
  color: red;
}

.drills_compare_feature {
  padding-left: 5px;
}

.pbutton, .pbutton:active, .pbutton:visited {
  background: #222;
  color: #fff !important;
}

.full {
  th {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  td {
    font-size: 12px;
  }
}

.full_a_input {
  text-decoration: none !important;
}

.rpbutton:hover {
  color: #ccc !important;
}

.contentDivPopup {
  strong {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
  }
  ul, li, p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
  }
  p {
    margin-bottom: 10px;
  }
  h4 {
    font-size: 13px;
    font-weight: bold;
  }
  h3 {
    font-size: 15px;
  }
  hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
  }
  .otst {
    margin-left: 5px;
  }

}

.game-tape-one {
  border-collapse: separate;
  border-spacing: 2px;
}

.gpbutton, .gpbutton:active, .gpbutton:visited, .pbutton, .pbutton:active, .pbutton:visited, .rpbutton, .rpbutton:active, .rpbutton:visited {
  padding: 5px 10px 6px;
  -webkit-border-radius: 5px;
  text-decoration: none !important;
  border-bottom: none !important;
}

.border_signup_new {
  margin-top: 15px;
}

.nado {
  width: 83%;
}

.video_guides {
  p {
    text-align: center;
  }

}

.video_allign {
  text-align: left !important;
}

#mysidebar {
  margin: 0;
  padding: 15px;
  list-style: none;
  width: 250px;
  td, th {
    display: table-cell;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  ul ul li {
    background: #eaedf3;
    border-bottom: 1px solid #b0c1e5;
  }
  ul ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #6c83b0;
  }
  tr {
    padding: 5px !important;
    border: 1px #CCC dotted !important;
  }

}

.page_content_blog {
  width: 1000px !important;
  background-color: #FFF;
  padding: 4px 20px 20px;
  margin: 0 auto;
  p, td {
    font-size: 12px;
  }
  h4 {
    font-weight: bold;
    font-size: 13px;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  tr {

  }
  .blog_border {
    padding: 5px;
    border: 1px #CCC dotted;
    margin-bottom: 15px;
  }
}

.hs_legend_one {
  width: 35%;
  background: #0b2442;
  color: #fff;
  font: 21px Calibri, Arial, Helvetica, sans-serif;
  padding: 0 10px;
  margin: -26px 0 0 -11px;
  font-weight: 700;
  border: 1px solid #fff;
  border-color: #e5e5c3 #505014 #505014 #e5e5c3;

}

.hs_legend_two {
  width: 12%;
  background: #0b2442;
  color: #fff;
  font: 21px Calibri, Arial, Helvetica, sans-serif;
  padding: 0 10px;
  margin: -26px 0 0 -11px;
  font-weight: 700;
  border: 1px solid #fff;
  border-color: #e5e5c3 #505014 #505014 #e5e5c3;

}

.hs_legend_three {
  background: #0b2442;
  color: #fff;
  font: 21px Calibri, Arial, Helvetica, sans-serif;
  padding: 0 10px;
  margin: -26px 0 0 -11px;
  font-weight: 700;
  border: 1px solid #fff;
  border-color: #e5e5c3 #505014 #505014 #e5e5c3;
  width: 14%;
}

.hs_label {
  color: #666;
  width: 150px;
  float: left;
  margin-bottom: 5px;
}

.account {
  select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
  }
  select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 0px !important;
  }
  keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
  }
  .hs_fieldset, .hs_fieldset_nw {
    background: #e8f1fb;
    padding: 10px;
    border: 1px solid #fff;
    margin-top: 36px;
    margin-bottom: 36px;
    border-color: #fff #666661 #666661 #fff;
  }

}

.subtle, .subtle_nu {
  font-style: italic;
  color: #666;
  font-size: 10px;
  margin-top: 15px;

}

.billing {
  .pbutton, .pbutton:active, .pbutton:visited {
    background: #222 !important;
    color: #fff !important;
  }
  .pbutton:hover {
    color: #92d5f7 !important;
  }
}

.acp {
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 2px;
  }

  .pbutton, .pbutton:active, .pbutton:visited {
    background: #222;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.mydrills_category_title {
  background-color: #0d3960;
  color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  font-variant: small-caps;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: left;
}

.drill_quickaccess {
  text-align: right;
  margin-bottom: 5px;
  i {
    margin: 4px;
  }
}

.drill_help {
  color: #FF5252 !important;
}

.fa-2x {
  font-size: 2em;
}

.fa-search:before {
  content: "\f002";
}

#sidebar {
  text-align: center;
  .input {
    text-align: right;
  }
}

.green {
  color: green;
}

.input_drills {
  width: 182px;
}

.submit_drills {
  width: 82px;
}

.yellow {
  color: #FFA000;
}

.drill_right {
  text-align: right;
}

.option_button, input.option_button {
  width: 85px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.drillfieldset {
  background: #e8f1fb;
  padding: 10px;
  border: 1px solid #fff;
  border-color: #fff #666661 #666661 #fff;
  margin-bottom: 36px;
  width: 875px;
  legend {
    background: #0b2442;
    color: #fff;
    width: 28% !important;
    font: 21px Calibri, Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: -26px 0 0 -11px;
    font-weight: bold;
    border: 1px solid #fff;
    border-color: #e5e5c3 #505014 #505014 #e5e5c3;
  }
  .drillfields {
    width: 300px;
    padding: 5px;
  }
  label {
    font-weight: bold;
    color: #666;
    width: 150px;
    float: left;
    margin-bottom: 5px;
  }
  .basic_drills {
    background: #0b2442;
    color: #fff;
    width: 24% !important;
    font: 21px Calibri, Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: -26px 0 0 -11px;
    font-weight: bold;
    border: 1px solid #fff;
    border-color: #e5e5c3 #505014 #505014 #e5e5c3;
  }
  .subtle, .subtle_nu {
    font-style: italic;
    color: #666;
    font-size: 10px;
  }
  .drill_notavail {
    color: #B6B6B6;
  }
  .drill_blue {
    color: #1976D2;
  }
  .basic_drills_new {
    background: #0b2442;
    color: #fff;
    width: 22% !important;
    font: 21px Calibri, Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: -26px 0 0 -11px;
    font-weight: bold;
    border: 1px solid #fff;
    border-color: #e5e5c3 #505014 #505014 #e5e5c3;
  }
}

.plan_quickaccess {
  text-align: right;
  margin-bottom: 5px;
}

.plan_new {
  color: #4CAF50;
}

.pp_col1 {
  float: left;
  vertical-align: top;
  width: 20%;
  padding-right: 5px;
}

.pp_col2 {
  float: left;
  vertical-align: top;
  padding-right: 5px;
  width: 58%;
}

.plan_folder {
  padding: 5px 3px 5px 3px;
  font-size: smaller;
  font-variant: small-caps;
  border-bottom: #B6B6B6 1px solid;
}

.plan_folder_active {
  background-color: #bfcbd5;
}

.practiceplan_folders, .practiceplan_folders_active {
  font-variant: small-caps;
  padding: 5px;
  border-top: 1px #999 solid;
  display: flex;
}

.pp_container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}

.plan_checkbox {
  float: left;
  width: 5%;
}

.plan_navigation {
  text-align: right;
}

.plan_upgrade {
  background-color: #D32F2F;
  color: #F5F5F5;
  padding: 15px 10px 15px 10px;
  font-weight: bold;
  font-variant: small-caps;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.plan_center {
  text-align: center;
}

.plan_option_subhead {
  padding: 5px;
  background-color: #bfcbd5;
  font-weight: 500;
  margin-bottom: 10px;
  border-bottom: #B6B6B6 1px solid;
}

.pp_clear {
  clear: both;
}

.pp_col3 {
  float: left;
  width: 20%;
  vertical-align: top;
}

.newfolder_button {
  background-color: #0f9d58;
  color: #fff;
  display: inline-block;
  position: relative;
  border-radius: 6px;
  font-size: 0.9em;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.overview {
  body, a, h4, a:hover, a:link, a:visited, a:active {
    color: #B52222;
    font: 14px/17px Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px;
    font-weight: bold;
  }
}

.overview_new {
  margin-top: 15px;
}

.plan_headers {
  background-color: #0d3960;
  color: #F5F5F5;
  padding: 15px 10px 15px 10px;
  font-weight: bold;
  font-variant: small-caps;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.upgrade_button {
  background-color: #D32F2F;
  color: #fff;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  font-size: 0.9em;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.plan_right {
  text-align: right
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121 /*{fcActive}*/
;
  text-decoration: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555555 /*{fcDefault}*/
;
  text-decoration: none;
}

.ui-widget-header a {
  color: #222222 /*{fcHeader}*/
;
}

.ui-widget-content a {
  color: #222222 /*{fcContent}*/
;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}

.tournament_subheading {
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 8px;
  font-size: 1em;
  background-color: #CCC;
  color: #000;
  font-weight: bold;
  border: 1px solid #999;
  margin-left: 30px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tournament_listing_2 {
  padding: 5px;
  background-color: #FFF;
  color: #000;
  border-bottom: 1px solid #999;
  margin-left: 60px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 5px;
}

.tournament_date {
  float: right;
  font-weight: normal;
  color: #666;
}

.subtle, .subtle_nu {
  font-style: italic;
  color: #666;
  font-size: 10px;
}

.ui-corner-all {
  -moz-border-radius: 4px /*{cornerRadius}*/
;
  -webkit-border-radius: 4px /*{cornerRadius}*/
;
  border-radius: 4px /*{cornerRadius}*/
;
}

.ui-widget-header {
  border: 1px solid #aaaaaa /*{borderColorHeader}*/
;
  background: #cccccc /*{bgColorHeader}*/
  url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) /*{bgImgUrlHeader}*/
  50% /*{bgHeaderXPos}*/
  50% /*{bgHeaderYPos}*/
  repeat-x /*{bgHeaderRepeat}*/
;
  color: #222222 /*{fcHeader}*/
;
  font-weight: bold;
}

.ui-helper-clearfix {
  display: block;
}

.ui-helper-clearfix {
  display: inline-block;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-widget-content {
  border: 1px solid #aaaaaa /*{borderColorContent}*/
;
  background: #ffffff /*{bgColorContent}*/
  url(images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/
  50% /*{bgContentXPos}*/
  50% /*{bgContentYPos}*/
  repeat-x /*{bgContentRepeat}*/
;
  color: #222222 /*{fcContent}*/
;
}

.ui-widget {
  font-family: Verdana, Arial, sans-serif /*{ffDefault}*/
;
  font-size: 1.1em /*{fsDefault}*/
;
}

.ui-tabs {
  position: relative;
  padding: .2em;
  zoom: 1;
}

.pp_headers {
  color: #FFF;
  padding: 10px;
  font-size: 14px;
  font-variant: small-caps;
  background: url(../images/global/pp_gradbg.jpg) repeat-x #4f4f4f;
  border-radius: 5px;
  margin-top: 3px;
}

.gpbutton, .gpbutton:active, .gpbutton:visited, .pbutton, .pbutton:active, .pbutton:visited, .pp_headers, .rpbutton, .rpbutton:active, .rpbutton:visited {
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
  font-weight: 700;
}

hr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border-width: 1px;
}

.margin_teams {
  td, tr {
    margin: 2px;
    padding: 2px;
  }
}

.margin_gifts {
  margin: 2px;
  padding: 0px;
  height: 25px;

}

.addteam {
  fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
  }
  legend {
    width: 21%;
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
  }
}

.page_navigation {
  padding: 5px;
  border: 1px solid #CCC;
  text-align: right;
  margin-top: 20px;
  min-height: 15px;
  margin-bottom: 5px;
}

.sent {
  font-size: 12px;
  font-weight: normal;
  margin-top: 15px;
}

.sent_navigation {
  padding: 15px;
}

.deleteMultiple {
  background-color: #B52222;
  color: #FFF;
}

.red_text {
  font-size: 16px;
  font-weight: bold;
  color: #b52222 !important;
}

.instructions {
  height: 480px;
  width: 853px !important;
}

.instructions_reklam {
  margin-top: 59px;
}

#checkoutTotal {
  margin-top: 10px;
}

.signup_page {
  p, select, div {
    margin-top: 5px;
    margin-bottom: 5px;

  }
  input {
    margin-bottom: 5px;
    margin-top: 5px;
  }

}

.auth_plauer {
  input {

  }
}

.hd-body {
  width: 830px;
  margin: 0 auto;
  border: 7px solid #268AD3;
  background: url(/img/pattern.png);
  position: relative;
}

.hd-body, .overflow-hidden {
  overflow: hidden;
}

.hd-body, .hd-draggable-btn, .hd-header-title input, .hd-main-left {
  box-sizing: border-box;
}

.btn, .hd-body {
  -webkit-user-select: none;
}

.hd-load-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.hd-load-progress .progress {
  margin: 250px;
}

.progress-bar.active, .progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped, .progress-striped .progress-bar {
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.progress-bar-striped, .progress-striped .progress-bar, .progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.hd-header {
  padding: 5px;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #fff;
}

.hd-header-title {
  display: table-cell;
  width: 55%;
  vertical-align: middle;
  position: relative;
}

.hd-header-title input {
  display: inline-block;
  background: rgba(0, 0, 0, .3);
  padding: 7px;
  font-size: 1.6em;
  color: #fff;
  border: 1px solid #444546;
  width: 90%;
}

.hd-header-round-progress, .hd-header-video-link {
  position: absolute;
  left: 100%;
  margin-left: -30px;
  top: 12px;
  transition: opacity .3s;
}

.rc-anchor-logo-img {
  background: url(https://www.gstatic.com/recaptcha/api2/logo_48.png);
  background-repeat: no-repeat;
}

.rc-anchor-pt a:link, .rc-anchor-pt a:visited {
  color: #9b9b9b;
  text-decoration: none;
}

.rc-anchor-normal .rc-anchor-pt, .rc-anchor-invisible .rc-anchor-pt, .rc-anchor-compact .rc-anchor-pt {
  color: #9b9b9b;
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: 8px;
  font-weight: 400;
}

.rc-anchor-checkbox-label {
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.headlink_container {
  font: 12px 'Trebuchet MS';
  color: #000;
  float: right;
  width: 450px;
  margin-top: 30px;
  text-align: right;
}

.hd-header-right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn .caret, .btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-glass-gray {
  background: rgba(130, 130, 130, .5);
  color: #fff;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;

}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-glass-green {
  background: rgba(100, 190, 100, .8);
  color: #fff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

.gradient-black-gray {
  background: linear-gradient(to top, #010101 0, #010101 50%, #2F2F2F 51%, #777 100%);
}

.color-row {
  padding: 5px 5px 5px 20px;
  position: relative;
}

.action-bar-btn, .color-preset {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.color-preset {
  width: 24px;
  height: 24px;
}

.hd-action-bar-color-row .color-preset {
  float: left;
}

.actions-group {
  margin-right: 10px;
  display: inline-block;
}

.actionBarIsDisaled {
  opacity: .4;
  cursor: not-allowed;
}

.action-bar-btn {
  width: 28px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .5s;
}

.action-bar-btn, .hd-footer {
  text-align: center;
}

.btn-green, .btn-green:focus {
  background: rgba(55, 140, 121, 1);
  color: #fff;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

.hd-main .nav-tabs {
  border: 0;
  background: url(/img/pattern.png);
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.members {
  a {
    color: #666666;
  }
}

.authcomment {
  background-color: #B3FFCC !important;
}

.hockeyshare_comment {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  border-top: 1px #808080 solid;
  border-bottom: 1px #808080 solid;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

element.style {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #b52222;
  font-size: larger;
}

.hsfooter {
  width: 1000px;
  margin: auto;
  background: #636363;
  background: -moz-linear-gradient(top, rgba(99, 99, 99, 1) 0, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(99, 99, 99, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(99, 99, 99, 1) 0, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(99, 99, 99, 1) 0, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(99, 99, 99, 1) 0, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(99, 99, 99, 1) 0, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#636363', endColorstr='#000000', GradientType=0);
  min-height: 200px;
  border-top: 4px #000 solid;
}

.pbutton:hover {
  color: #92d5f7 !important;
}

.margin_drills {
  margin-left: 1px;
}

.drill_table_one {
  span {
    float: right;
    color: #999;
    font-size: 1em;
    font-weight: normal;
  }
}

.drill_store {
  img {
    margin-left: 10px;
    margin-bottom: 15px;
  }
}
